* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    position: relative;
    font-family: 'Kumbh sans';
    font-size: 18px;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    max-height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: #19A2AE;
    z-index: 0;
    overflow: hidden;
}

.bg-pattern-top {
    position: absolute;
    background: center center /cover url("images/bg-pattern-top.svg");
    width: 978px;
    height: 978px;
    top: -700px;
    left: -725px;
    z-index: 1;
}

.bg-pattern-bottom {
    background: center center /cover url("images/bg-pattern-bottom.svg");
    position: absolute;
    
    width: 978px;
    height: 978px;
    right: -650px;
    top: 550px;
    z-index: 1;
}

.card {
    z-index: 2;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;
    height: 375px;
    width: 326px;
    min-width: 326px;
    border-radius: 13px;
    overflow: hidden;
}

.profil-image {
    position: absolute;
    top: calc(140px - calc(105px / 2));
    left: calc(50% - calc(105px / 2));
    z-index: 5;
    width: 105px;
    height: 105px;
    background: center center url("images/image-valentin.jpg");
    border: 5px solid white;
    border-radius: 100%;
}

.info {
    color: #2D3248;
    margin-top: 77px;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.perso {
    display: flex;
}

.perso .age,
.info .city {
    color: #6A6F81;
    font-weight: 300;
}

.perso .age {
    margin-left: 11px;
}

.info .city {
    margin-top: 16px;
    font-size: 0.7rem;
}

.stats {
    margin-top: 28px;
    width: 100%;
    height: 100%;
    border-top: 1px solid rgba(150, 150, 150, 0.5);
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.stat {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stat-number {
    color: #2D3248;
    font-weight: 700;
}

.stat-name {
    margin-top: 11px;
    letter-spacing: 1px;
    color: #6A6F81;
    font-size: 0.7rem;
    font-weight: 300;
}

.attribution {
    position: absolute;
    bottom: 10px;
    font-size: 11px;
    text-align: center;
    z-index: 1;
}

.attribution a {
    color: #3e52a3;
}
